{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'stock/styles.css' %}" rel="stylesheet">
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script type="text/babel" src="{% static 'stock/components.js' %}"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        {% block script %}{% endblock %}
    </head>
    <body>
        <div id="top-nav-bar">
            <div class="top-bar-link" id="brand-title">Stocks</div>
            <a class="top-bar-link" id="top-bar-home" href="{% url 'index' %}">Home</a>
            <a class="top-bar-link" id="top-bar-watchlist" href="{% url 'my_watchlist' %}">Watchlist</a>
            <div id="top-bar-search-div">
            </div>
            {% if user.is_authenticated %}
                <a class="top-bar-link" id="top-bar-profile" href="{% url 'my_profile' %}">{{ user }}</a>
                <a class="top-bar-link" id="top-bar-logout" href="{% url 'logout' %}">Logout</a>
                <p style="display: none" id="user-logged-in">true</p>
            {% else %}
                <p style="display: none" id="user-logged-in">false</p>
                <a class="top-bar-link" id="top-bar-login" href="{% url 'login' %}">
                    <div id="top-bar-login-div">Login</div>
                </a>
            {% endif %}
        </div>
        <div class="body">
            <div id="popup-container"></div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>