{% extends "stock/layout.html" %}

{% load static %}

{% block body %}
    {% if err_message %}
    <div id="login-error-message">
        {{ err_message }}
    </div>
    {% endif %}
    <div id="login-container">
        <h2>Login</h2>
        <div id="login-form">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input autofocus class="login-input-field" id="login-username" name="username" type="text" placeholder="Username">
                <input class="login-input-field" id="login-password" name="password" type="password" placeholder="password">
                <input id="login-button" type="submit" value="Login">
            </form>
            <div id="login-register-div">
                Don't have an account? 
                <a href="{% url 'register' %}">Register Here</a>
            </div>
        </div>
    </div>

{% endblock %}