
/* ---layout.html--- */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: rgb(18, 18, 18);
    color: white;
}
 
.body {
     margin: 10px;
     margin-top: 70px;
 }

/* top nav bar */

#top-nav-bar {
    display: flex;
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 60px;
    font-weight: bold;
    border-bottom: 1px solid rgb(70, 70, 70);
    margin-top: -80px;
    position: fixed;
}

.top-bar-link {
    display: inline;
    padding: 8px;
    vertical-align: middle;
    margin: 10px;
    font-size: large;
    color: white;
    text-decoration: none;
}

.top-bar-link:not(#top-bar-search):hover {
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    cursor: pointer;
}

#top-bar-profile, #top-bar-login {
    margin-left: auto;
}



/* top bar search */

#top-bar-search {
    display: flex;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(64, 64, 64);
}

#top-bar-search-div {
    width: 40%;
    margin: 12px auto 0px auto;
    z-index: 99;
}

#top-bar-search-bar {
    width: 100%;
    padding-left: 6px;
    margin: 2px;
    border: 0px;
    color: white;
    background-color: rgb(20, 20, 20);
}

#top-bar-search-bar:focus {
    outline: none;
}

#top-bar-search-icon {
    width: 20px;
    height: 20px;
    margin: 6px 6px 0px 0px;
    filter: brightness(0.45);
}

#top-bar-search-icon:hover {
    cursor: pointer;
    filter: brightness(1.0)
}


#search-suggestions {
    background-color: rgb(20, 20, 20);
    border-radius: 0px 0px 10px 10px;
    border-left: 1px solid rgb(64, 64, 64);
    border-bottom: 1px solid rgb(64, 64, 64);
    border-right: 1px solid rgb(64, 64, 64);
    padding: 4px;
    color: white;
    margin-top: -6px;
}

.search-suggestion-link-div {
    display: block;
    border-top: 1px solid rgb(64, 64, 64);
    padding: 8px 0px 8px 4px;
}

.search-suggestion-link-div:hover {
    background-color: rgb(74, 74, 74);
    border-radius: 6px;
}

.search-suggestion-links {
    text-decoration: none;
    color: white;
}

.search-stock-longname {
    color: rgb(114, 114, 114);
    margin-left: 2px;   
}



/* ---index.html--- */

/* NSE and BSE indexes */

#main-indexes, #stock-info {
    display: flex;
    width: 70%;
    background-color: rgb(46, 46, 46);
    margin: 80px auto 0px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

#main-indexes-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.big-row {
    font-size: 36px;
}

#BSE-lower-symbol, #NSE-lower-symbol {
    font-size: 14px;
    color: rgb(158, 158, 158);
}

#BSE-market-close, #BSE-lower-close  {
    border-right: 1px solid rgb(160, 160, 160);
}

#BSE-market-close, #NSE-market-close {
    color: rgb(146, 1, 1);
}

#BSE-lower-close, #NSE-lower-close {
    color: rgb(158, 158, 158);
}

#BSE-symbol:hover, #NSE-symbol:hover {
    cursor: pointer;
    color: rgb(223, 223, 223);
}

/* Popular stocks table */

#popular-stocks {
    display: flex;
    bottom: 0px;
    margin: 30px auto 10px auto;
    width: 70%;
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    box-shadow: 1px 1px 10px black;
}


#all-table-headers {
    border-bottom: 1px solid rgb(160, 160, 160);
}

.table-headers {
    font-size: large;
    padding-bottom: 10px;
}

.table-data {
    padding-top: 10px;
    color: green;
}


.table-row-data {
    border-bottom: 1px solid rgb(90, 90, 90);
    height: 30px;
}

.table-row-data:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 56);
}

#table-symbol {
    text-align: left;
    font-size: large;
}

.table-price, .table-change, .table-open, .table-high, .table-low, .table-close {
    text-align: center;
}

.popular-stocks-table {
    margin: 10px;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.watchlist-button {
    margin-left: auto;
}

.table-watchlist {
    text-align: center;
}

/* scrollbar of popular stocks */

::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(112, 112, 112);
    border-radius: 5px;
}


/* individual_stock.html */

#stock-info {
    padding: 8px 5px 8px 5px;
}

.stock-info-top-row-divs {
    display: inline;
}

.stock-info-upper-row {
    font-size: 28px;
}

.stock-info-upper-row font {
    color: rgb(201, 201, 201);
}

#stock-info-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#stock-info-title {
    max-width: 300px;
}

#stock-info-exchange {
    color: gray;
}

.stock-info-upper-row:not(#stock-info-fifty-day-average), .stock-info-lower-row:not(#stock-info-fifty-lower) {
    border-right: 1px solid rgb(160, 160, 160);
}


#stock-chart {
    width: 800px;
    height: 450px;
    background-color: blue;
}

#stock-chart-and-data {
    width:  80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-spacing: 0px;
}

#stock-additional-data {
    text-align: left;
}

.additional-data-children {
    font-size: large;
    text-align: left;
    margin-bottom: 30px;
    color: gray;
}