
/* ---layout.html--- */

body {
    margin: 0px;
    background-color: rgb(46, 46, 46);
    color: white;
}
 
.body {
     margin: 10px;
     margin-top: 70px;
 }

/* top nav bar */

#top-nav-bar {
    display: flex;
    background-color: rgb(73, 73, 73);
    width: 100%;
    box-shadow: 1px 1px 6px black;
    margin-top: -70px;
    position: fixed;
}

.top-bar-link {
    display: inline;
    padding: 4px 8px 4px 8px;
    vertical-align: middle;
    margin: 10px;
    font-size: large;
    color: white;
    text-decoration: none;
}

.top-bar-link:hover {
    background-color: gray;
    border-radius: 20px;
    cursor: pointer;
}

#top-bar-profile, #top-bar-login {
    margin-left: auto;
}




/* ---index.html--- */

/* NSE and BSE indexes */

#main-indexes {
    display: flex;
    width: 70%;
    margin: 70px auto 0px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

#main-indexes-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.big-row {
    font-size: 36px;
}

#BSE-lower-symbol, #NSE-lower-symbol {
    font-size: 14px;
    color: rgb(158, 158, 158);
}

#BSE-market-close, #BSE-lower-close  {
    border-right: 1px solid rgb(160, 160, 160);
}

#BSE-market-close, #NSE-market-close {
    color: rgb(146, 1, 1);
}

#BSE-lower-close, #NSE-lower-close {
    color: rgb(158, 158, 158);
}

#BSE-symbol:hover, #NSE-symbol:hover {
    cursor: pointer;
    color: rgb(223, 223, 223);
}

/* Popular stocks table */

#popular-stocks {
    display: flex;
    margin: 30px auto 10px auto;
    width: 70%;
    height: 77vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    overflow-y: scroll;
    overflow-x: hidden;
}

#all-table-headers {
    border-bottom: 1px solid rgb(160, 160, 160);
}

.table-headers {
    font-size: large;
    padding-bottom: 10px;
}

.table-data {
    padding-top: 10px;
    color: green;
}

.table-row-data {
    border-bottom: 1px solid rgb(160, 160, 160);
    height: 30px;
}

.table-row-data:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 56);
}

#table-symbol {
    text-align: left;
    font-size: large;
}

.table-price, .table-change, .table-open, .table-high, .table-low, .table-close {
    text-align: center;
}

#popular-stocks-table {
    margin: 10px;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.watchlist-button {
    margin-left: auto;
    width: 50px;
}

/* scrollbar of popular stocks */

::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(112, 112, 112);
    border-radius: 5px;
}

