
/* ---layout.html--- */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: rgb(18, 18, 18);
    color: white;
}
 
.body {
     margin: 10px;
     margin-top: 70px;
 }

/* top nav bar */

#top-nav-bar {
    display: flex;
    top: 0px;
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 60px;
    font-weight: bold;
    border-bottom: 1px solid rgb(70, 70, 70);
    position: fixed;
    z-index: 10;
}

.top-bar-link, #brand-title {
    display: inline;
    padding: 8px;
    vertical-align: middle;
    margin: 10px;
    font-size: large;
    color: white;
    text-decoration: none;
}

#brand-title {
    padding: 0px;
    padding-top: 2px;
    align-items: center;
    vertical-align: middle;
}

.top-bar-link:not(#top-bar-search):hover {
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    cursor: pointer;
}



#top-bar-login, #top-bar-portfolio {
    margin-left: auto;
}

#stock-icon {
    width: 35px;
    vertical-align: middle;
}

.brand-title-div {
    display: inline-block;
    color: gray;
    padding-top: 4px;
    font-size: larger;
}



/* top bar search */

#top-bar-search {
    display: flex;

    height: 35px;
    border-radius: 8px;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(64, 64, 64);
}

#top-bar-search-div {
    width: 40%;
    margin: 12px auto 0px auto;
}

#top-bar-search-bar {
    width: 100%;
    padding-left: 6px;
    margin: 2px;
    border: 0px;
    color: white;
    background-color: rgb(20, 20, 20);
    border-right: 1px solid rgb(70, 70, 70);
}

#top-bar-search-bar:focus {
    outline: none;
}

#top-bar-search-icon {
    width: 20px;
    height: 20px;
    margin: 6px 6px 6px 6px;
    filter: brightness(0.45);
}

#top-bar-search-icon:hover {
    cursor: pointer;
    filter: brightness(1.0)
}


#search-suggestions {
    background-color: rgb(20, 20, 20);
    border-radius: 0px 0px 10px 10px;
    border-left: 1px solid rgb(64, 64, 64);
    border-bottom: 1px solid rgb(64, 64, 64);
    border-right: 1px solid rgb(64, 64, 64);
    padding: 4px;
    color: white;
    margin-top: -6px;
}

.search-suggestion-link-div {
    display: block;
    border-top: 1px solid rgb(64, 64, 64);
    padding: 8px 0px 8px 4px;
}

.search-suggestion-link-div:hover {
    background-color: rgb(74, 74, 74);
    border-radius: 6px;
}

.search-suggestion-links {
    text-decoration: none;
    color: white;
}

.search-stock-longname {
    color: rgb(114, 114, 114);
    margin-left: 2px;   
}



/* ---index.html--- */

/* NSE and BSE indexes */

#main-indexes, #stock-info {
    display: flex;
    width: 70%;
    background-color: rgb(46, 46, 46);
    margin: 80px auto 0px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

#main-indexes-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.big-row {
    font-size: 36px;
}

#BSE-lower-symbol, #NSE-lower-symbol {
    font-size: 14px;
    color: rgb(158, 158, 158);
}

#BSE-market-close, #BSE-lower-close  {
    border-right: 1px solid rgb(160, 160, 160);
}

#BSE-market-close, #NSE-market-close {
    color: rgb(146, 1, 1);
}

#BSE-lower-close, #NSE-lower-close {
    color: rgb(158, 158, 158);
}

#BSE-symbol:hover, #NSE-symbol:hover {
    cursor: pointer;
    color: rgb(223, 223, 223);
}

/* Popular stocks table */

#popular-stocks, #portfolio-stocks, #transactions-table, #watchlist-stocks {
    display: flex;
    bottom: 0px;
    margin: 30px auto 10px auto;
    width: 70%;
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    box-shadow: 1px 1px 10px black;
}

#empty-watchlist-message {
    margin-left: 10px;
}

table.popular-stocks-table tr td {
    font-size: 18px;
}


#all-table-headers {
    border-bottom: 1px solid rgb(160, 160, 160);
}

.table-headers {
    font-size: large;
    padding-bottom: 10px;
}

.table-data {
    padding-top: 10px;
}


.table-row-data {
    border-bottom: 1px solid rgb(90, 90, 90);
    height: 36px;

}

.table-row-data:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 56);
}

#table-symbol, #table-long-name {
    text-align: left;
    font-size: large;
}

.table-price, .table-change, .table-high, .table-low, .table-close, .table-transaction-type {
    text-align: center;
}

.table-quantity, .table-total-spent, .table-current-price, .table-profit-loss, .table-buy-sell, .table-timestamp, .table-price-bought {
    text-align: center;
}

.popular-stocks-table {
    margin: 10px;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.watchlist-button {
    margin-left: auto;
    background: none;
    border: 0px;
}


.watchlist-button:hover {
    cursor: pointer;
    outline: none;
}

.watchlist-button:focus {
    outline: none;
}

.table-watchlist {
    text-align: center;
}

.watchlist-icon {
    width: 20px;
}

.watchlist-icon:hover {
    filter: brightness(0.8);
    width: 23px;
}

#buy-stock-index-page, #sell-stock-index-page {
    width: 50px;
    height: 20px;
    color: white;
    background-color: rgb(37, 153, 37);
    border: 0px;
    border-radius: 10px;
}

#sell-stock-index-page{
    background-color: rgb(216, 0, 0);
    margin-left: 10px;
}

#buy-stock-index-page:hover {
    background-color: rgb(46, 184, 46);
    cursor: pointer;
}

#sell-stock-index-page:hover {
    background-color:rgb(255, 54, 54);
    cursor: pointer;
}

#sell-stock-index-page:focus {
    outline: none;
}

#buy-stock-index-page:focus {
    outline: none;
}

/* scrollbar of popular stocks */

::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(112, 112, 112);
    border-radius: 5px;
}


/* individual_stock.html */

#stock-info {
    padding: 8px 5px 8px 5px;
}

.stock-info-top-row-divs {
    display: inline;
}

.stock-info-upper-row {
    font-size: 32px;
}

.stock-info-upper-row font {
    color: rgb(201, 201, 201);
}

#stock-info-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#stock-info-title {
    max-width: 300px;
}

#stock-info-exchange {
    color: gray;
}

.stock-info-upper-row:not(#stock-info-fifty-day-average), .stock-info-lower-row:not(#stock-info-fifty-lower) {
    border-right: 1px solid rgb(160, 160, 160);
}


#stock-chart {
    width: 800px;
    height: 450px;
    z-index: 1;
}

#stock-chart-and-data {
    width:  70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-spacing: 0px;
}

#stock-additional-data {
    text-align: left;
}

.additional-data-children {
    font-size: large;
    text-align: left;
    margin-bottom: 20px;
    color: gray;
}

/* Stock News */

.stock-news-info {
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
}

.stock-news-info:hover {
    cursor: pointer;
}

#stock-news-component {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    background-color: rgb(18, 18, 18);
}

#stock-news {
    margin-top: 30px;
    width: 75%;
    display: flex;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.news-author {
    color: gray;
    font-size: small;
}

.news-title {
    font-size: large;   
}

.stock-news-thumbnail {
    height: 200px;
    width: 280px;
    margin: 0px auto 0px auto;
}

.stock-news-thumbnail-div {
    background-color: rgb(18, 18, 18);
    height: 200px;
    border-radius: 10px;
    margin-bottom: 8px;
    overflow: hidden;
}

#buy-sell-button-div {
    margin-top: 50px;
}


.buy-button, .sell-button {
    height: 40px;
    display: inline;
    margin: 10px 5px 20px 10px;
    width: 90px;
    border-radius: 15px;
    border: 0px;
    background-color: rgb(37, 153, 37);
    color: white;
    font-size: large;
}

.sell-button {
    background-color: red;
}


.buy-button:hover, .sell-button:hover {
    cursor: pointer;
}

.buy-button:focus, .sell-button:focus {
    outline: none;
}

#buy-sell-button-div {
    display: flex;
}

.buy-sell-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgb(32, 32, 32);
    width: 350px;
    border-radius: 15px;
    padding: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9;
}

.popup-stock-info {
    margin: 18px 0px 18px 0px;
    font-size: large;
}

#popup-title {
    font-size: 24px;
    text-align: center;
    display: inline;
}


#popup-header-div {
    padding-bottom: 10px;
    display: flex;
    border-bottom: 1px solid rgb(70, 70, 70);
    margin-bottom: 10px;
}

#popup-close-button-div {
    margin-left: auto;
    display: inline;
}

#popup-close-button {
    background: none;
    border: none;
    color: white;
}

#popup-close-button:hover {
    cursor: pointer;

}

#popup-long-name {
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
}

#popup-quantity-selector {
    display: flex;
}

.quantity-selector-item {
    display: inline;
}

.popup-quantity-selector {
    padding: 5px;
    margin-top: 10px;
}

#quantity-reduce-button, #quantity-increase-button {
    background-color: rgb(32, 32, 32);
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    margin: 0px 5px 0px 5px;
    font-size: large;
    height: 30px;
    width: 30px;
}

#quantity-reduce-button:hover, #quantity-increase-button:hover:enabled {
    background-color: white;
    color: black;
    cursor: pointer;
}

#quantity-reduce-button:focus, #quantity-increase-button:focus:enabled {
    outline: none;
}

#quantity-input-box {
    width: 100px;
    border-radius: 5px;
    height: 30px;
    color: white;
    background-color:rgb(20, 20, 20);
    border: 1px solid rgb(70, 70, 70);
}

.popup-span {
    color: rgb(175, 175, 175);
    font-size: medium;
    margin-right: auto;
}

#popup-total {
    border-top: 0.5px solid rgb(163, 163, 163);
    padding: 4px;
    border-bottom: 0.5px solid rgb(163, 163, 163);
    margin-top: 40px;
}

#popup-total-figure {
    font-size: 24px;
    position: fixed;
    right: 12px;
}

.buy-sell-button {
    border-radius: 15px;
    background-color: rgb(37, 153, 37);
    color: white;
    width: 100%;
    height: 35px;
    font-size: large;
    border: 0px;
}

.buy-sell-button:focus {
    outline: none;
}

.buy-sell-button:hover:enabled {
    outline: none;
    cursor: pointer;
}

#confirm-purchase-button:hover:enabled {
    background-color: rgb(46, 184, 46);
}

#confirm-sell-button {
    background-color: red;
}

#confirm-sell-button:hover:enabled {
    background-color: rgb(247, 58, 58);
}

@keyframes slide_in {
    from {
        right: 0px;
        width: 20px;
        color: rgb(32, 32, 32);
    }
    to {
        right: 30px;
        width: 270px;
        color: white;
    }
}

@keyframes slide_out {
    from {
        right: 30px;
        width: 270px;
    }
    to {
        right: 0px;
        width: 20px;
    }
}

#notification-popup {
    position: fixed;
    bottom: 30px;
    height: 70px;
    right: 30px;
    width: 270px;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    animation-name: slide_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

#article-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgb(32, 32, 32);
    width: 40%;
    border-radius: 15px;
    padding: 15px;
}

#news-author-text {
    font-size: medium;
    color: gray;
}

#article-summary {
    font-size: medium;
    max-height: 40vh;
    overflow-y: auto;
}

#news-popup-title {
    font-size: 24px;
}

#article-read-more {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 30%;

}

#read-more-button {
    width: 90%;
    height: 35px;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 0px;
}

#read-more-button:hover {
    cursor: pointer;
    box-shadow: 2px 10px 10px black;

}

/* portfolio.html */

#portfolio-title-container, #transactions-title-container, #watchlist-title-container {
    width: 70%;
    margin: 100px auto 0px auto;
}

#portfolio-title, #transactions-title, #watchlist-title {
    margin-left: 6px;
    margin-top: 20px;
}

#portfolio-stocks, #transactions-table {
    margin: 10px auto 0px auto;
}



/* profile.html */

#profile-info-container {
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#user-info-container {
    width: 100%;
}

#username-header {
    padding: 10px;
    border-bottom: 1px solid rgb(70, 70, 70);
}

#username-actual {
    font-size: 36px;
}

#profile-parent-grid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    background-color: rgb(18, 18, 18);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
    border-bottom: 1px solid rgb(70, 70, 70);
    padding-bottom: 10px;
}

.user-info-large {
    font-size: 36px;
}

.user-stats-grid {
    margin: 10px 0px 10px 0px;
}

#profile-pic {
    width: 80px;
}

#username-header {
    display: flex;
    align-items: center;
}

.user-info-div {
    display: inline;
    margin-top: 5px;
}

#settings-button-div {
    margin-left: auto;
}

.button-child {
    display: inline;
    vertical-align: middle;
}

#logout-button, #settings-button-div {
    width: 100px;
    height: 35px;
    border: 0px;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-size: medium;
}

#settings-button-div {
    background-color: rgb(179, 179, 179);
    color: black;
    margin-right: 25px;
}

#logout-button:hover {
    background-color: rgb(241, 69, 69);
    cursor: pointer;
}

#logout-button:focus {
    outline: none;
    border: 0px;
}

#change-settings-button {
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
}

#settings-icon {
    width: 26px;
    margin-top: 2px;
}

/* register.html */

#register-container, #login-container{
    position: absolute;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-items: center;
}

#login-container {
    width: 400px;
}

#register-form, #login-form {
    width: 100%;
    background-color: rgb(32, 32, 32);
    border-radius: 15px;
    text-align: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

#register-title, #login-title {
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-title {
    top: 22%;
}


#register-box-title, #login-box-title {
    font-size: 28px;    
    margin-bottom: 25px;
}

#login-box-title {
    margin-bottom: 35px;
}

#register-first-last-div {
    display: flex;
}

.register-input-field, .login-input-field {
    display: block;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    color: white;
    background-color: rgb(32, 32, 32);
    margin-bottom: 25px;
    width: 90%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

#register-firstname, #register-lastname {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}

.register-input-field:focus, .login-input-field:focus {
    outline: none;
    border: 1px solid rgb(140,140,140);
}

#register-button, #login-button {
    width: 100px;
    height: 40px;
    background-color: white;
    border: 0px;
    color: black;
    border-radius: 10px;
    font-size: medium;
}
#login-button {
    margin-top: 15px;
}

#login-register-div {
    margin-top: 20px;
}

#login-register-link {
    color: rgb(78, 78, 255);
    font-size: large;
}












